:root{
    --cor-de-fundo: white;
}

body{
    background-color: var(--cor-de-fundo);
}

.conteiner{
    display: grid;
    grid-template-columns:  70% 30%;
}

.header{
    background-color: #271111;
    background-image: url(cartazes/banner-blog-cinema.jpg);
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 10px;
}

.navegacao{
    margin: 20px;
}

.posts{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.post{
    display: flex;
    flex-direction: column;
    width: 600px;
    /*background-color: #631c1c;*/
    border: 1px solid #d3d3d3;
    padding: 1%;
    margin: 10px auto;
    box-shadow: 1px 1px 0px #787878;
}

.post__img{
    height: 550px;
    border-radius: 5px;
}

.post__critica{
    color: black;
    font-size: 20px;
    margin-top: 10px;
    text-align: justify;
    line-height: 25px;
    padding: 1.5%;
    text-indent: 20px;
}

.post__titulo{
    display: inline-block;
    /*background-color: #FDCB58;*/
    font-family: 'Poppins';
    font-size: 20px;
    color: black;
    padding-top: 2.5%;
    padding-left: 1%;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 2em;
}
.post__tags{
    display: flex;
}

.post__tag{
    margin: 0 2px;
}

.paginacao{
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 50px;
}

.paginacao__lista{
    display: flex;
    flex-direction: row;
}

.paginacao__item{
    border: 1px solid #d3d3d3;
    margin: 10px;
    padding: 10px;
    border: 0px 0px 2px black;
}

.paginacao__button{
    height: 25px;
    border: none;
    background-color: white;
}
.paginacao__button:hover{
    cursor: pointer;
}

.menu_direito{
    background-color: #eaeaea;
    margin: 10px;
    box-shadow: -1px 0px 2px black;
    padding-left: 55px;
    padding-top: 100px;
}
.menu_direito__item{
    width: 300px;
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0px 1px 0px black;
}

.menu_direito__icone{
    margin-right: 20px;
    width: 15px;
}

.footer{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #271111;
}

.footer__dados{
    display: flex;
}

.footer__iten{
    margin: 4px;
}